@import url("normalize.css");
@import url("reset.css");

:root {
  /* Layout */
  --base-unit: 20px;
  --base-font: 18px;
  --base-letter-spacing: -0.05em;

  /* Color styles */
  --purple: rgb(138, 56, 245, 1);
  --yellow: rgb(255, 187, 39, 1);
  --white: rgb(241, 241, 241, 1);
  --gray: rgb(89, 89, 89, 1);
  --super-gray: rgb(46, 46, 46, 1);
  --black: rgb(15, 15, 15, 1);
  --super-black: rgb(0, 0, 0, 1);

  /* Text-size styles */
  /* 타이틀 계열 */
  --header: calc(var(--base-font) * 3.55);
  --h1: calc(var(--base-font) * 2.22);
  --serve: calc(var(--base-font) * 2);
  --h2-100: calc(var(--base-font) * 1.33);
  --h2-125: calc(var(--base-font) * 1.33);
  --h2-150: calc(var(--base-font) * 1.33);
  --h3: calc(var(--base-font) * 1.11);
  /* 본문 및 기타 */
  --qna: var(var(--base-font) * 1.33);
  --body: var(--base-font);
  --body-b: var(--base-font);
  --content: calc(var(--base-font) * 0.88);
  --footer: calc(var(--base-font) * 0.66);
}

body {
  font-family: "Pretendard", sans-serif;
  letter-spacing: var(--base-letter-spacing);
}

/* 타이포그래피 */
.text-header {
  font-size: var(--header);
  line-height: calc(var(--header) * 1);
  color: var(--white);
}
.text-h1 {
  font-size: var(--h1);
  line-height: calc(var(--h1) * 1.25);
  color: var(--white);
}
.text-serve {
  font-size: var(--serve);
  line-height: calc(var(--serve) * 1);
  color: var(--white);
}
.text-h2-100 {
  font-size: var(--h2-100);
  line-height: calc(var(--h2-100) * 1);
  color: var(--white);
}
.text-h2-125 {
  font-size: var(--h2-125);
  line-height: calc(var(--h2-125) * 1.25);
  color: var(--white);
}
.text-h2-150 {
  font-size: var(--h2-150);
  line-height: calc(var(--h2-150) * 1.5);
  color: var(--white);
}
.text-h3 {
  font-size: var(--h3);
  line-height: calc(var(--serve) * 1);
  color: var(--white);
}
.text-qna {
  font-size: var(--qna);
  line-height: calc(var(-qna) * 1.5);
  color: var(--white);
}
.text-body {
  font-size: var(--body);
  line-height: calc(var(-body) * 1.5);
  color: var(--white);
}
.text-body-b {
  font-size: var(--body-b);
  line-height: calc(var(-body-b) * 1.5);
  color: var(--white);
}
.text-content {
  font-size: var(--content);
  line-height: calc(var(-content) * 1.5);
  color: var(--white);
}
.text-footer {
  font-size: var(--footer);
  line-height: calc(var(-footer) * 1);
  color: var(--white);
}
/* 링크 버튼 */
.btn {
  height: 60px;
  background: var(--yellow);
  border-radius: 36px;
}
/* 헤더 - 문송연 */

/* 히어로 - 이채연 */

/* 커리큘럼 - 문송연 */

/* 리뷰 : 장도담 */

/* 혜택 : 최정민 */

/* 지원요건 : 이채연 */

/* 지원독려 : 황시원 */

/* QNA : 황시원 */

/* 푸터 : 장도담 */
